* {
    font-family: 'Elephant';
}

body{
    background: rgb(252,136,69);
    background: linear-gradient(90deg, rgba(252,136,69,1) 1%, rgba(253,29,100,1) 44%, rgba(46,60,181,1) 100%, rgba(140,58,180,1) 100%);
}

#alerteid, #gestioid {
    display: block;
}

nav{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 10px;
    z-index: 1;

}
nav ul{
    list-style-type: none;
    color: white;
    
}
.logo{
    background: transparent;
    margin-left: 60px;
    margin-top: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 150px;
}

nav ul li{
    float:left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 25px;
    border: 0;
    padding : 10px 20px;
    background: transparent;
    position: relative;
    overflow: clip;
    border-radius: 20px;
    box-shadow: 0px -0px 0px 0px rgba(113, 34, 215, 0.5),0px 0px 0px 0px rgba(225, 51, 16, 0.5);
    transition: all .2s;
    
}
nav a::after{
    content:"";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
    position: absolute;
    z-index :-1;
    left: -20mm;
    top: -15mm;
    transition: all .5s;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
    transform: translate(0, -2mm);
    box-shadow: 10px -10px 25px 0 rgba(168, 107, 247, 0.25), -10px 10px
    25px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
}
a:hover::after{
    transform:rotate(400deg);
}
.sous{
    display: none;
    
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{ 
    right: 30px;
    display: block;
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: blue;
}
nav .logo{
    padding-left: 0px;
    box-shadow: transparent;
    width: 150px;
    position: relative

}

h1{
    text-align: center;
    color:#101114;
    font-size:xx-large;
    font-weight: bolder;
    text-decoration: underline;
    height: 60px;
}
p{
    color: black;
    font-size: medium;
    position: relative;
    text-align: center;
}

.tableau-style {
    overflow-x: scroll;
    border-collapse:collapse;
    box-shadow: 0 5px 50px rgba(58, 7, 158, 0.745);
    background-color: white;
    margin: auto;
}
td,th {
    border: 2px solid black;
    padding:30px 30px ;
    text-align: center;
    font-size: 100%;
    min-width: 60px;
}

thead{
    background-color: black;
    color: white;
}

.page
{
    color: white;
    position: relative;

}
footer{
    background-color: #111;
    position: absolute;
    width: 100%;
    margin-left: -9px;
    display: flex;

}
 .contact{
     font-size:15px;
     margin-left: 2%;
     font-family: 'Montserrat', sans-serif;
     flex-direction: column;
     color: white;
     margin-bottom: 2%;
 }
 .reseaux{
     display:block;
     margin-left:30%;
     margin-top: 2%;
     justify-content: space-between;
 }
 .foot{
     display: flex;
     display: inline-block;
     width: 50%;
 }
 .lien{
     font-family: 'Montserrat', sans-serif;
     color: aliceblue;   
    margin-top: 4%;
    text-align: center;
 }
 
 .reseaux a{
     color: white;
     padding: 5px;
 }
 .lien a{
    color: white;
    padding: 7px;
 }

.actionBtns{
    margin: 5px auto; border-radius: 5px; text-align: center; padding: 10px; height: 75%;
    transition: 0.7s;
}

 .actionBtns:hover {
    margin: 5px auto; 
    border-radius: 5px; 
    text-align: center; 
    padding: 15px; 
    height: 75%;
    transition: 0.2s;
 }