* {
    font-family: 'Elephant';
    color: white;
}

body {
    background: linear-gradient(150deg, #88e 10%, #33d 100%);
}

nav{
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;

}
nav ul{
    list-style-type: none;
    color: white;
    
}
.logo{
    background: transparent;
    margin-left: 60px;
    margin-top: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-top: 80px;
    width: 150px;
}

nav ul li{
    float:left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    margin: 10px 25px;
    border: 0;
    padding : 10px 20px;
    background: transparent;
    position: relative;
    overflow: clip;
    border-radius: 20px;
    box-shadow: 0px -0px 0px 0px rgba(113, 34, 215, 0.5),0px 0px 0px 0px rgba(225, 51, 16, 0.5);
    transition: all .2s;
    
}
nav a::after{
    content:"";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
    position: absolute;
    z-index :-1;
    left: -20mm;
    top: -15mm;
    transition: all .5s;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
    transform: translate(0, -2mm);
    box-shadow: 10px -10px 25px 0 rgba(168, 107, 247, 0.25), -10px 10px
    25px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
}
a:hover::after{
    transform:rotate(400deg);
}
.sous{
    display: none;
    
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{ 
    
    display: block;
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: blue;
}
nav .logo{
    padding-left: 0px;
    box-shadow: transparent;
    width: 150px;
    position: relative

}
.userDataTitle {
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    padding: 10px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    border-radius: 50px;
    box-shadow: 0 0 5px 2px #b277e6;
}

.userDataTitle h1 {
    text-align: center;
    font-size: 62;
    color: white;
    font-family: 'Elephant';
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 280px 1% 30px 1%;
}

#sidebar {
    width: 30%;
    margin: 1% 0% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mapBox {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    box-shadow: 0 0 5px 2px #b277e6;
}

#mapBox h1, #friendBox h1 {
    color: white;
    text-align: center;
}

#map {
    margin: 5px;
    display: flex;
    justify-content: center;
}

#mapImage {
    position: inherit;
    margin: 5px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

#friendBox {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 2% 2% 5% 2%;
    margin-top: 10px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    text-align: center;
    color: white;
    box-shadow: 0 0 5px 2px #b277e6;
}

#mainContent {
    width: 90%;
    margin: 1% 1% 1% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
    text-align: center;
}

#searchBox {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    padding: 5px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 0 5px 2px #b277e6;
}

.searchBar {
    padding: 0px 10px;
    font-size: 20px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    color: white;
    border-width: 0;
    border-radius: 20px;
    box-shadow: inset 0 0 5px 2px #926;
    width: 95%; 
    margin: 5px;
}

#searchbar::placeholder {
    color:#fff;
    opacity: 0.4;
}

#searchIcon {
    position: inherit;
    margin: 5px;
    height: 30px;
    width: auto;
}

#montrerecherche{
    background-image: url("./../../../PNG/searchIcon.png");
    color:rgba(100, 100, 100, 0);
    width: 55px;
    height: 55px;
    border-radius: 27.5px;
    background-size: 40px 40px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border: 0px;
    background-color: #fff;
    cursor: pointer;
    outline: 0;
}

#dashboardBox {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    border-radius: 20px;
    box-shadow: 0 0 5px 2px #b277e6;
}

#dashboardBox h1 {
    color: white;
}

#upperIndicators, #lowerIndicators {
    width: 80%;
    margin: auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#upperIndicators div, #lowerIndicators div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#upperIndicators * {
    margin: auto 5px;
}

label {
    margin-top: 40px;
    margin-bottom: 50px;
    color: white;
    font-weight: 900;
}

#heartRate, #soundIntensity, #gazExposition, #alcoholConsumption {
    margin: 40px auto;
}

#upperIndicators {
    margin-left: 0px;
    margin-right: 40%;
}

#lowerIndicators{
    margin-left: 16%;
    margin-right: 0px;
}

meter {
    rotate: -90deg;
    height: 30px;
    width: 80px;
    color: white;
}

footer{
    background-color: #111;
    position: absolute;
    width: 100%;
    top: 165%;
    display: flex;

}
.contact{
    font-size:15px;
    margin-left: 2%;
  font-family: 'elephant';
    flex-direction: column;
    color: white;
    margin-bottom: 2%;
}
.reseaux{
    display:block;
    margin-left:30%;
}
.foot{
    display: flex;
    display: inline-block;
    width: 50%;
}
.lien{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;   
   margin-top: 15%;
   text-align: center;
}

a{
    color: white;
    padding: 5px;
}

    /*justify-content: space-between;*/

.insta{
    height: 70px ;
    width: 70px;
    margin-left:1%;
    margin-top: 7%;
}
.youtube{
    height: 65px ;
    width: 80px;
    margin-left:7%;
    margin-top: 7%;
}
.twit{
    height: 80px ;
    width: 80px;
    margin-left:13%;
    margin-top: 7%;
}

.canva  {
    position: absolute;
    position: center;
    height: 33%;
    width: 31%;
    top: 125%;
    left: 34%;
    background-color: rgb(244, 239, 239);
    border-radius: 30px;
}

.titreGaz {
    position: absolute;
    left: 48%;
    top: 115%;
}

.canva2 {
    position: center;
    height: 130%;
    width: 110%;
    background-color: rgb(244, 239, 239);
    border-radius: 30px;
}

#myChart3 {
    position: flex;
    height: 150%;
    width: 150%;
    background-color: rgb(244, 239, 239);
    border-radius: 30px;
    left: 50px
}

