*{
    font-family: 'Montserrat', sans-serif;
}
h1{
    position: fixed;
    left:20%;
    font-size: 50px;
    background: linear-gradient(rgb(186, 4, 214), rgb(255, 83, 192), rgb(255, 0, 43));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form{
    position: fixed;
    left:40%;
    top:23%;
    font-size: 35px;
}
input[type=submit] {
    position: fixed;
    left:35%;
    top:70%;
    height: 70px;
    width: 400px;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
input[type=texte] {
    border: 5px solid black;
    text-align: center;
    height: 60px;
    width: 250px;
    border: 5px solid black;
    border-radius: 20px;
}
img{
    position: fixed;
    left:20%;
    top:10%;
}