* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family:"Georgia";
    text-decoration: none;
    list-style:none;
    font-family: 'Elephant';
}

body {
    background : linear-gradient(45deg,#2456e0, #ff0cef);
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: arial,sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 2px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
    box-shadow: 0 0 50px 10px rgba(255, 81, 0, 0.459);
    border-radius: 10px;
    width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(125deg,#f53b1e 0%,#911ef6 12%,#ee1616
    50%);
}

nav{
    width: 100%;
    margin: 0 auto;
    
    position:absolute;
    top: 10px;
    z-index: 1;

}

nav ul{
    list-style-type: none;
    
}

.logo{
    background: transparent;
    
    margin-left: 60px;
    margin-top: 0px;
    padding: 0px;
    
    width: 150px;
}

nav ul li{
    float:left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{

    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px 25px;
    border: 0;
    padding : 10px 20px;
    background: transparent;
    position: relative;
    overflow: clip;
    border-radius: 20px;
    box-shadow: 0px -0px 0px 0px rgba(113, 34, 215, 0.5),0px 0px 0px 0px rgba(225, 51, 16, 0.5);
    transition: all .2s;
    
}

nav a::after{
    content:"";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
    position: absolute;
    z-index :-1;
    left: -20mm;
    top: -15mm;
    transition: all .5s;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
    transform: translate(0, -2mm);
    box-shadow: 10px -10px 25px 0 rgba(168, 107, 247, 0.25), -10px 10px
    25px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
}

a:hover::after{
    transform:rotate(400deg);
    
    
}

.sous{
    display: none;
    
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{ padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: blue;
}

img {
    box-shadow: transparent;
    width: 80px;
    position: static
    
}

button {
    background: transparent;
    color: white;
    position: absolute;
    top :300px;
    left: 450px;
    font-weight: 600;
    z-index:1;
    overflow: clip;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5),0px 0px 0px 0px
    rgba(39,200, 255, .5);
    
    transition: all .5s;
    
}

button::after {
    content:"";
    width: 700px;
    height: 700px;
    font-weight: 500px;
    background: linear-gradient(225deg,#e21717 0%,#eb8125 25%,#e022bd
    100%);
    position: absolute;
    top:-500px;
    left:-150px;
    z-index:-1;
    transition: all.3s;
}

button:hover::after {
    transform: rotate(150deg);
}

button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0 rgba(168, 107, 247, 0.25), -10px 10px
    25px 0px rgba(255, 255, 255, 0.25);
}

.container{
    position: relative;
    margin: 200px auto 200px auto;
}

form {
    background : rgba(255,255,255,.3);
    padding: 0.85rem;
    border-radius:20px;
    border-left: 1px solid rgba(255,255,255,.3);
    border-right: 1px solid rgba(255,255,255,.3);
    box-shadow: 20px 20px  40px -6px rgba(0,0,0,.2);
    text-align: center;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter:blur(10px);
}

p{
    color:white;
    font-weight: 500;
    opacity:.7;
    font-size: 1.4rem;
    margin-bottom:20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    width:200px;
    border-radius: 50px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter:blur(5px);
    padding:0.25rem;
    box-shadow: 4px 4px 60px rgba(0,0,0,.2);
    color: white;
    font-weight: 500;
    text-shadow:2px 2px 4px rgba(0,0,0, .2);
    transition: all.3s;
    margin: 10px;
}

label {
    color: white;
    font-weight: 200px;
    opacity:.7;
    text-shadow:2px 2px 4px rgba(0,0,0, .2);
}

::placeholder{
    color:rgb(255, 255, 255);

}

input:hover,
input [type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background: rgba(255,255,255,.1);
    box-shadow:4px 4px 60px rgba(0,0,0,.2);
}
    
button {
    border-radius: 50px;
    border: 0;
    padding:5px 10px;
    border-left: 1px solid rgba(255,255,255,.3);
    border-right: 1px solid rgba(255,255,255,.3);
    box-shadow: 20px 20px  40px -6px rgba(0,0,0,.2);
    background : rgba(255,255,255,.3);
    color: white;
    font-size: 20px;
    margin:10px;
    cursor: pointer;

}

img {
    width: 750px;
    height: auto;
    position: absolute;
}

select {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    width:200px;
    border-radius: 50px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter:blur(5px);
    padding:0.25rem;
    box-shadow: 4px 4px 60px rgba(0,0,0,.2);
    color: white;
    font-weight: 500;
    text-shadow:2px 2px 4px rgba(0,0,0, .2);
    transition: all.3s;
}

.line1 {
    display : flex;
}
.line2{
    display: flex;
}
.line3{
    display:flex;
}
.line4{
    display:flex;
}
.line5{
    display:flex;
}
.line6{
    display:flex;
}
.line7{
    display:flex;
}