* {
    font-family: 'Elephant';
}

td{
    color: blue;    
}

th{
    color: red;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 2px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616
    100%);
    box-shadow: 0 0 50px 10px rgba(255, 81, 0, 0.459);
    border-radius: 10px;
    width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(125deg,#f53b1e 0%,#911ef6 12%,#ee1616
    50%);
}
