.round{
    border: 5px solid black;
    padding: 70px;
    border-radius: 50%;
    height:560px;
    width: 560px;
    position: relative;
    margin:30px;
    background: transparent;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgb(113 34 215 / 50%), 0px 0px 0px 0px rgb(225 51 16 / 50%);
    transition: all .2s;
}

.round::after {
    content: "";
    width: 1000px;
    height: 1000px;
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616 100%);
    position: absolute;
    z-index: -1;
    left: -20mm;
    top: -15mm;
    transition: all .5s;
}

.round:hover::after{
    transform:rotate(300deg);
}

.round:hover{
    transform: translate(0, -2mm);
    box-shadow: 10px -10px 25px 0 rgba(168, 107, 247, 0.25), -10px 10px
    25px 0px rgba(255, 255, 255, 0.25);
}

p{
    font-size: 20px;
    text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border: 5px solid black;
    background-color: white;
    margin: 50px;
    border-radius: 20px;
    height: 100px;
    width: 350px;
    padding-top: 20px;
}
h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  color: black;
  border: 5px solid black;
  background-color: white;
  margin: 50px;
  border-radius: 20px;
  height: 50px;
  width: 350px;
  padding-top: 20px;


}

button{
    margin-right: 60px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    width: 220px;
    border: 5px solid black;
    border-radius: 20px;
}

a{
    color: black;
    font-size:20px ;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 4s infinite alternate linear;
}

body {
    color:black;
    background-color:white;
    background-image:url(image.jpg);
    overflow-x: hidden;
    overflow-y: scroll;
    }

.modif{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width:95%;
    }

input[type=submit]{
    margin:  5% 23%;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    width: 40%;
    border: 5px solid black;
    border-radius: 20px;
    
}
input[type=text]{
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    height: 75px;
    width: 250px;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}
label{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    border: 5px solid black;
    margin-right: 10%;
    background: #911ef6;
}