*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    position:fixed;
    left:23%;
    top:0%;
    font-size: 60px ;
    background: linear-gradient(225deg,#f53b1e 0%,#911ef6 25%,#ee1616 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

body{
    position:fixed;
    left:35%;
    top:20%;
}