
body{
    font-family: 'Montserrat', sans-serif;
    background-image:url(../../../PNG/Solidays-2019-2.jpg);
    background-position:40% 40%;
    position:fixed;
    left:30%;
    top:35%;
    font-size: 35px ;
    color:black;
}

h1{
    position:fixed;
    left:25%;
    top:18%;
    font-size: 60px ;
    color: black;
}
