
body{
    font-family: 'Montserrat', sans-serif;
    background-image:url(../../../PNG/Solidays-2019-2.jpg);
    background-position:40% 40%;
    position:fixed;
    left:30%;
    top:35%;
    font-size: 35px ;
    background: linear-gradient(rgb(186, 4, 214), rgb(255, 83, 192), rgb(255, 0, 43));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    position:fixed;
    left:25%;
    top:18%;
    font-size: 60px ;
    color: black;
}
footer{
    background-color:black ;
    width: 100%;
    display: flex;
    padding: 20px auto;
    position:fixed;
    left:0%;
    bottom: 0%;
 }
 
 .contact{
     font-size:15px;
     margin-left: 2%;
     font-family: 'Montserrat', sans-serif;
     flex-direction: column;
     color: white;
     margin-bottom: 2%;
 }

 .foot{
     display: flex;
     display: inline-block;
     width: 50%;
 }
 .lien{
     font-family: 'Montserrat', sans-serif;
     color: aliceblue;   
    margin-top: 4%;
    text-align: center;
 }
 
 .reseaux a{
     color: white;
     padding: 5px;
 }
 .reseaux {
    position: relative;
    left:32%;

}
 .lien a{
    color: white;
    padding: 7px;
    font-size: 20px;
 }